@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --font: "Rubik", sans-serif;
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-transparent: hsla(229, 31%, 21%, 0.15);
  --off-white: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);
  --white-transparent: hsla(0, 0%, 100%, 0.15);
  --shadow: rgba(73, 93, 207, 0.2);
  --placeholder: rgba(36, 42, 69, 0.250109);
}

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: 1px solid transparent;
  font: inherit;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  color: var(--very-dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

.lock-scroll {
  overflow: hidden;
}

/* Shared Styles */

.container {
  width: min(82.9333%, 31.1rem);
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.5;
}

.button-link {
  background: var(--soft-blue);
  box-shadow: 0px 8px 8px -4px var(--shadow);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  color: var(--white);
  display: inline-block;
}

.button-link-alt {
  background: var(--off-white);
  color: var(--very-dark-blue);
  opacity: 0.75;
}

.subheading {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 5.2rem;
  letter-spacing: -0.075px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 4.8rem auto 4.3rem;
}

/* Header */

.header {
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--very-dark-blue);
  opacity: 0.95;
  backdrop-filter: blur(32.6194px);
  z-index: 10;
  padding: 4rem 0 4.8rem;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.navigation.open {
  transform: translateX(0);
}

.nav-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(82.4%, 30.9rem);
  margin: 0 auto;
}

.nav-logo-text,
.nav-logo-icon {
  fill: var(--white);
}

.nav-logo-cutout {
  fill: var(--very-dark-blue);
  opacity: 0.95;
}

.nav-links {
  margin: 4rem auto 0;
  width: min(82.4%, 30.9rem);
}

.nav-link {
  display: block;
  font-size: 2rem;
  line-height: 1.7rem;
  letter-spacing: 2.30769px;
  text-transform: uppercase;
  color: var(--white);
  padding: 2.4rem;
  border-bottom: 1px solid var(--white-transparent);
}

.nav-link-li:nth-of-type(1) .nav-link {
  border-top: 1px solid var(--white-transparent);
}

.nav-link-li:nth-of-type(4) .nav-link {
  margin-top: 2.4rem;
  padding: 1.6rem;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.navigation .social-icons {
  margin-top: auto;
}

/* Hero */

.hero {
  margin: 9.4rem auto 0;
  overflow: hidden;
}

.hero-image-wrapper {
  width: 94.5%;
  margin-inline: auto;
  position: relative;
}

.hero-image-wrapper::before {
  content: "";
  width: 57.7rem;
  height: 20.3rem;
  background: var(--soft-blue);
  border-radius: 316.5px;
  position: absolute;
  top: 5.2rem;
  left: 3.9rem;
  z-index: -1;
}

.hero-image {
  width: 100%;
}

.main-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -0.09375px;
  margin-top: 4.8rem;
}

.hero .paragraph {
  margin: 1.6rem auto 3.2rem;
}

.hero .button-link {
  padding: 1rem 1.6rem 1rem 1.7rem;
}

.hero .button-link + .button-link {
  /* margin-left: 1.4rem; */
}
/* Features */

.features {
  margin: 14rem auto 0;
  overflow: hidden;
}

.features .paragraph {
  margin: 0 auto 1.5rem;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 7.2rem;
}

.feature-btn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: 0.533333px;
  padding: 2rem;
  border-bottom: 1px solid var(--shadow);
}

.feature:nth-child(1) .feature-btn {
  border-top: 1px solid var(--shadow);
}

.feature-text {
  position: relative;
}

.feature-btn.active .feature-text::after {
  content: "";
  width: 88%;
  height: 0.4rem;
  background-color: var(--soft-red);
  position: absolute;
  bottom: -1.9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.feature-tab {
  display: none;
}

.feature-tab.active {
  display: block;
}

.feature-tab-image-wrapper {
  width: min(82.9333%, 31.1rem);
  margin-inline: auto;
  position: relative;
}

.feature-tab-image-wrapper::before {
  content: "";
  width: 57.7rem;
  height: 20.3rem;
  background: var(--soft-blue);
  border-radius: 316.5px;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  z-index: -1;
}

.feature-tab-image {
  width: 100%;
}

.feature-tab .subheading {
  margin-top: 6.9rem;
}

.feature-tab .paragraph {
  margin: 0 auto 1.5rem;
}

.feature-tab .button-link {
  padding: 1rem 2.4rem;
}

/* Download */

.download {
  margin: 7.7rem auto 0;
}

.cards-container {
  width: min(90%, 28rem);
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card {
  background: var(--white);
  box-shadow: 0px 10px 20px -5px var(--shadow);
  border-radius: 15px;
  padding: 4.9rem 2.4rem 2.4rem;
  width: 100%;
}

.browser-logo {
  height: 10rem;
  margin: 0 auto 3.2rem;
}

.card .subheading {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.25px;
}

.card .paragraph {
  margin-top: 0.6rem;
  line-height: 2.8rem;
  position: relative;
}

.card .paragraph::after {
  content: "";
  width: min(90%, 28rem);
  border-bottom: 4px dotted var(--shadow);
  position: absolute;
  bottom: -3.2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.card .button-link {
  display: block;
  padding: 1rem;
  margin-top: 6rem;
}

/* FAQ */

.faq {
  margin: 14rem auto 0;
}

.faq .subheading {
  line-height: 3rem;
}

.faq .paragraph {
  margin-top: 1.6rem;
}

.faq-container {
  margin-top: 6.4rem;
}

.faq-wrapper {
  border-bottom: 1px solid var(--very-dark-blue-transparent);
  transition: 1s ease;
}

.faq-question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: 3.2rem;
  color: var(--very-dark-blue);
  margin: 2rem 0 1.2rem;
}

.faq-question:hover {
  cursor: pointer;
}

.faq-answer {
  display: none;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.140625px;
  color: var(--very-dark-blue);
  opacity: 0.75;
  text-align: left;
  margin: 2.6rem 0 2.8rem;
}

.faq-wrapper.active .arrow-icon {
  transform: rotate(180deg);
}

.faq-wrapper.active .arrow-icon-color {
  stroke: var(--soft-red);
}

.faq-wrapper.active .faq-answer {
  display: block;
}

.faq .button-link {
  margin-top: 4.8rem;
  padding: 1rem 2.4rem;
}

/* Call to Action */

.cta {
  margin-top: 12.3rem;
  padding: 6rem 3.2rem;
  background-color: var(--soft-blue);
  color: var(--white);
}

.stats {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 4rem;
  letter-spacing: 4.61539px;
  text-transform: uppercase;
}

.cta .subheading {
  line-height: 2.8rem;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.email-input {
  width: 100%;
  background: var(--white);
  border-radius: 5px;
  font: inherit;
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

.email-input::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  color: var(--placeholder);
}

.submit {
  display: block;
  padding: 1rem;
  background: var(--soft-red);
  box-shadow: 0px 8px 8px -4px var(--shadow);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  color: var(--white);
}

/* Footer */

.footer {
  background: var(--very-dark-blue);
  color: var(--white);
  padding-top: 4rem;
}

.footer-logo {
  margin-inline: auto;
}

.footer-logo-text {
  fill: var(--white);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 3.9rem;
}

.footer-link {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 1.73077px;
  text-align: right;
  text-transform: uppercase;
}

.attribution {
  font-size: 1.1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
